{
  "presets": ["flow", "react-native"],
  "plugins": [
    ["relay", { "schema": "data/schema.json" }],
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@app": "./src",
          "@components": "./src/components",
          "@features": "./src/features"
        }
      }
    ]
  ]
}
